body {
    font-family: "Roboto",
        sans-serif;
    color: #434455;
    background-color: #fff;
}

*{
    outline: 2px solid red;
    outline-offset: -2px;
}

/* #region Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

ul,
ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

/* #endregion */

/* Common */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section{
    padding: 120px 0;
}
.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
/* 
    outline: 2px solid red;
    outline-offset: -2px; */
}



/* #region logo*/
.logo {
    font-size: 18px;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 76px;
}

.logo-dark {
    color: #2E2F42;
}

.logo-light {
    color: #F4F4FD;
}

/* #endregion */


/* #region header*/
.header{
    padding: 24px 0;
    border-bottom: 1px solid #E7E9FC;
}


.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-right: auto;
}

.nav-list{
    display: flex;
    gap: 40px;
}

.nav-link {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #2E2F42;
    display: block;
    padding: 24px;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.address-contacts{
    display: flex;
    gap: 40px;
}

.contacts {
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts:hover,
.contacts:focus {
    color: #404BBF;
}

/* #endregion */

/* #region hero section*/
.hero {
    text-align: center;
    background-color: #2E2F42;
    padding: 188px 0;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: white;
    width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.btn{
    display: flex;
}

.hero-btn {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: white;
    background-color: #4D5AE5;
    min-width: 169px;
    min-height: 56px;
    padding: 16px 32px;
    margin: 0 auto;
    border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

/* #endregion */

/* #region dev-strategy*/
.development{
    width: 264px;
}

.dev-list{
    display: flex;
    gap: 24px;
}

.dev-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.dev-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion */

/* #region our team*/
.our-team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    gap: 24px;
}

.team-content{
    padding: 32px 16px;
    text-align: center;
}

.team {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-item {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        /* background: var(--white); */
}

/* #endregion */

/* #region portfolio*/
.portf-title {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-content{
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 32px 16px;
}

.portfolio {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;

}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion */

/* #region footer*/
.footer {
    background-color: #2E2F42;
    padding: 100px;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
}

.footer-logo {
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

/* #endregion */